.auth-message {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

a {
  color: #fff;
}

body {
  background-color:rgb(242, 210, 226) ;
}

h1 {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 70px;
  text-align: center;
}

li {
  font-family: 'Roboto', sans-serif;
}

li a:hover {
  background-color: #000;
}

.navbar {
  background-color: #8bcc8e;
}

p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

.restaurant-message {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

.restaurant-content {
  background-color: rgba(139, 204, 142, 0.59);
  padding: 10px;
}

span {
  font-weight: bold;
}

.appDescrip {
  text-align: center;
}
